.flex {
    display: flex;
  }
  .flex-col{
    flex-direction: column;
  }
  .flex-1{
    flex: 1 1 0%;
  }
  .self-start{
    align-self: flex-start;
  }
  .grid {
    display: grid;
  }
  
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }
  
  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .block{
    display: block;
  }
  .inline-block{
    display: inline-block;
  }