/* You can add global styles to this file, and also import other style files */
@use 'utility';
@use 'components';
@use 'directive';
* , *::after , *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: #667985;
}
* , p , h1 , h2 , h3 , h4 , h5 , h6{
    padding: 0;
    margin: 0;
}
input{
    &:focus-visible{
        outline: 1px;
}
}