<div class="border p-3" appAnimate animationName="fadeIn">
  <div class="flex gap-3 items-center">
    <h4>Products</h4>
    @if (isLoading$ | async) {
    <span class="loader-20"></span>
    }
  </div>
  @for (category of categories$ | async; track category) {
  <p class="my-2 flex items-center gap-2">
    <input
      type="radio"
      [id]="category"
      (input)="filterByCategory(category)"
      [(ngModel)]="selectedCategory"
      [value]="category"
      name="category"
    />
    <label [for]="category" class="cursor-pointer">{{ category }}</label>
  </p>
  }
</div>
