.border{
    border: 1px solid #667085;
    border-radius: 6px;
}
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #41CCCC; /* border color */
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-right: 8px;

    &:checked::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #41CCCC; /* fill color */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}